* {
  box-sizing: border-box;
}

.portfolio-row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.portfolio-row,
.portfolio-row > .portfolio-column {
  padding: 1em;
}

/* Create four equal columns that floats next to each other */
.portfolio-column {
  float: left;
  width: 50%;
}

/* Clear floats after rows */
.portfolio-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.portfolio-content {
  background-color: white;
  padding: 10px;
}

.portfolio-content a:link {
  text-decoration: none;
}

.portfolio-content a:visited {
  text-decoration: none;
}

.portfolio-content a:hover {
  text-decoration: none;
}

.portfolio-content a:active {
  text-decoration: none;
}

.portfolio-content a:link, .portfolio-content p{
  color: black;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .portfolio-column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .portfolio-column {
    width: 100%;
  }
}